
@{
    ViewData["Title"] = "InfoMessage";
}

<div class="text-center">
    <h1 class="display-4">Thank you for request.</h1>
    <p>You will be notifed by email if your request is Approved or Denied.</p>
</div>


